@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
}

  /* global.css */

  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bold;
    
  }
  
  h1 { font-size: 2.25em; }
  h2 { font-size: 1.875em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.25em; }
  h5 { font-size: 1em; }
  h6 { font-size: 0.875em; }
  
  /* Paragraphs */
  p {
    margin-bottom: 1em;
  }
  
  /* Lists */
  ul, ol {
    margin: 1em 0;
    padding-left: 1.5em;
   
  }
  ul{
    list-style: circle;
  }
ol{
    list-style: decimal;
}

  li {
    margin-bottom: 0.5em;
    
    
  }
  
  /* Blockquotes */
  blockquote {
    margin: 1.5em 0;
    padding-left: 1em;
    border-left: 4px solid var(--blockquote-border-color, #cccccc);
   
  }
  
  /* Strong and Emphasis */
  strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
  
  /* Links */
  a {
    color: var(--link-color, #007acc);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  

  